<div id ="welcome">
	<span>Welcome to CDPSgram</span>
	<br>
	<span>In this website you can view the uplodaded photos and upload your own photos</span>
</div>
<div id="buttons-container">
	<a href="/photos"><div class="button">My photos</div></a>
	<a href="/photos/new"><div class="button">Upload new photo</div></a>
</div>
