body {
    background-color: rgba(224, 220, 147, 0.27);
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    font-weight: bold;
    color: white;
    text-decoration-line: unset;
}

#header {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    padding: 1em 3em;
    background-color: #84BBCE;
    vertical-align: middle;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

#header h1 {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    margin: 0
}

#header div {
    padding: 0.5em;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    float: right;
    color: white !important;
}

#header div a {
    text-transform: capitalize;;
}

#container {
    position: absolute;
    padding: 5em 0 0;
    /*background-color: rgba(224, 220, 147, 0.27);*/
    /*background-image: url("/images/ansible_2.png");*/
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#nav-bar {
	float: left;
	height: 600px;
	width: 200px;
	border-right: 3px groove black;
}

#nav-bar ul {
	list-style-type: none;
	padding-left: 0px;
}

#nav-bar li {
	padding-bottom: 20px;
}

#container-body {
    padding: 2em;
}

#welcome {
    padding: 5em 0 0;
    font-size: 2em;
    color: #555;
	text-align: center;
}

#welcome span {
	margin-top: 20px;
}

#buttons-container {
    text-align: center;
    margin: 10em;
}

/*[type=submit], [type=file], button {
    border: none;
    display: inline-block;
    color: #333;
    padding: 0.5em;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}*/

#buttons-container div.button {
    display: inline-block;
    width: 10em;
    color: #333;
    padding: 3em;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

#buttons-container div.button:first-child {
    margin: 0 2em 2em 0;
}

#photos-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-flow: wrap;
}

#photo-container {
    display: flex;
    justify-content: center;

}

.photo {
	width: 300px;
	height: 200px;
	padding-top: 50px;
	float: left;
	text-decoration: none;
	color: black;
	text-align: center;
}

.photo_playing {
	width: inherit;
	height: inherit;
	padding-left: 0;
}

.photo_playing button {
	margin-top: 50px;
}

.photo p {
	text-align: center;
}

.photo img {
	width: 60px;
	height: 60px;
	border: 1px groove black;
	padding: 20px;
}

.photo_playing img {
	width: 500px;
	height: 500px;
}

.photo audio {
	width: 100%;
}

.upload_field {
	display: block;
	margin-top: 15px;
}
